{:paths ["src"]
 :deps
 {org.clojure/algo.generic {:mvn/version "0.1.3"}
  aysylu/loom {:mvn/version "1.0.2"}
  techascent/tech.viz {:mvn/version "6.00-beta-16-2"}
  org.apache.commons/commons-math3 {:mvn/version "3.6.1"}
      ;  com.clojure-goes-fast/clj-memory-meter {:mvn/version "0.1.0"}

  ; com.stuartsierra/frequencies {:mvn/version "0.1.0"}     ; percentile stats
  ; medley/medley          {:mvn/version "1.3.0"}  ; lightweight pure functions that are "missing" from clojure.core.
  }}