{:paths ["src"]
 :deps {org.apache.arrow/arrow-vector {:mvn/version  "2.0.0"
                                        :exclusions [commons-codec/commons-codec]}
        org.apache.arrow/arrow-memory-unsafe {:mvn/version "2.0.0"}}}


