; saved on 2022-06-01 01:43:47
{:content [{:out "",
            :id :5af51f8d-a873-4e6b-b718-d3f4e2c5b0ea,
            :code "(ns studio.notebook.smile\n  (:require\n   [taoensso.timbre :refer [trace debug info infof  error]]\n   [smile.clustering :refer [kmeans]]))",
            :ns "studio.notebook.smile",
            :hiccup [:div.p-2.clj-nil [:p "nil"]]}
           {:err {:class "java.lang.ClassCastException",
                  :message "class clojure.lang.PersistentVector cannot be cast to class [[D (clojure.lang.PersistentVector is in unnamed module of loader 'app'; [[D is in module java.base of loader 'bootstrap')",
                  :stacktrace [{:name "smile.clustering$kmeans$reify__58108/get",
                                :file "clustering.clj",
                                :line 104,
                                :class "smile.clustering$kmeans$reify__58108",
                                :method "get"}
                               {:name "smile.clustering.PartitionClustering/lambda$run$1",
                                :file "PartitionClustering.java",
                                :line 177,
                                :class "smile.clustering.PartitionClustering",
                                :method "lambda$run$1"}
                               {:name "java.util.stream.IntPipeline$1$1/accept",
                                :file "IntPipeline.java",
                                :line 180,
                                :class "java.util.stream.IntPipeline$1$1",
                                :method "accept"}
                               {:name "java.util.stream.Streams$RangeIntSpliterator/forEachRemaining",
                                :file "Streams.java",
                                :line 104,
                                :class "java.util.stream.Streams$RangeIntSpliterator",
                                :method "forEachRemaining"}
                               {:name "java.util.Spliterator$OfInt/forEachRemaining",
                                :file "Spliterator.java",
                                :line 711,
                                :class "java.util.Spliterator$OfInt",
                                :method "forEachRemaining"}
                               {:name "java.util.stream.AbstractPipeline/copyInto",
                                :file "AbstractPipeline.java",
                                :line 509,
                                :class "java.util.stream.AbstractPipeline",
                                :method "copyInto"}
                               {:name "java.util.stream.AbstractPipeline/wrapAndCopyInto",
                                :file "AbstractPipeline.java",
                                :line 499,
                                :class "java.util.stream.AbstractPipeline",
                                :method "wrapAndCopyInto"}
                               {:name "java.util.stream.ReduceOps$ReduceOp/evaluateSequential",
                                :file "ReduceOps.java",
                                :line 921,
                                :class "java.util.stream.ReduceOps$ReduceOp",
                                :method "evaluateSequential"}
                               {:name "java.util.stream.AbstractPipeline/evaluate",
                                :file "AbstractPipeline.java",
                                :line 234,
                                :class "java.util.stream.AbstractPipeline",
                                :method "evaluate"}
                               {:name "java.util.stream.ReferencePipeline/reduce",
                                :file "ReferencePipeline.java",
                                :line 662,
                                :class "java.util.stream.ReferencePipeline",
                                :method "reduce"}
                               {:name "java.util.stream.ReferencePipeline/min",
                                :file "ReferencePipeline.java",
                                :line 703,
                                :class "java.util.stream.ReferencePipeline",
                                :method "min"}
                               {:name "smile.clustering.PartitionClustering/run",
                                :file "PartitionClustering.java",
                                :line 178,
                                :class "smile.clustering.PartitionClustering",
                                :method "run"}
                               {:name "smile.clustering$kmeans/invokeStatic",
                                :file "clustering.clj",
                                :line 103,
                                :class "smile.clustering$kmeans",
                                :method "invokeStatic"}
                               {:name "smile.clustering$kmeans/invoke",
                                :file "clustering.clj",
                                :line 62,
                                :class "smile.clustering$kmeans",
                                :method "invoke"}
                               {:name "smile.clustering$kmeans/invokeStatic",
                                :file "clustering.clj",
                                :line 101,
                                :class "smile.clustering$kmeans",
                                :method "invokeStatic"}
                               {:name "smile.clustering$kmeans/invoke",
                                :file "clustering.clj",
                                :line 62,
                                :class "smile.clustering$kmeans",
                                :method "invoke"}
                               {:name "studio.notebook.smile$eval58134/invokeStatic",
                                :file nil,
                                :line 5,
                                :class "studio.notebook.smile$eval58134",
                                :method "invokeStatic"}
                               {:name "studio.notebook.smile$eval58134/invoke",
                                :file nil,
                                :line -1,
                                :class "studio.notebook.smile$eval58134",
                                :method "invoke"}
                               {:name "clojure.lang.Compiler/eval",
                                :file "Compiler.java",
                                :line 7181,
                                :class "clojure.lang.Compiler",
                                :method "eval"}
                               {:name "clojure.lang.Compiler/load",
                                :file "Compiler.java",
                                :line 7640,
                                :class "clojure.lang.Compiler",
                                :method "load"}
                               {:name "clojure.lang.Compiler/load",
                                :file "Compiler.java",
                                :line 7587,
                                :class "clojure.lang.Compiler",
                                :method "load"}
                               {:name "clojure.core$load_reader/invokeStatic",
                                :file "core.clj",
                                :line 4075,
                                :class "clojure.core$load_reader",
                                :method "invokeStatic"}
                               {:name "clojure.core$load_string/invokeStatic",
                                :file "core.clj",
                                :line 4077,
                                :class "clojure.core$load_string",
                                :method "invokeStatic"}
                               {:name "clojure.core$load_string/invoke",
                                :file "core.clj",
                                :line 4077,
                                :class "clojure.core$load_string",
                                :method "invoke"}
                               {:name "reval.kernel.clj_eval$clj_eval_raw/invokeStatic",
                                :file "clj_eval.clj",
                                :line 41,
                                :class "reval.kernel.clj_eval$clj_eval_raw",
                                :method "invokeStatic"}
                               {:name "reval.kernel.clj_eval$clj_eval_raw/invoke",
                                :file "clj_eval.clj",
                                :line 39,
                                :class "reval.kernel.clj_eval$clj_eval_raw",
                                :method "invoke"}
                               {:name "reval.kernel.clj_eval$clj_eval/invokeStatic",
                                :file "clj_eval.clj",
                                :line 72,
                                :class "reval.kernel.clj_eval$clj_eval",
                                :method "invokeStatic"}
                               {:name "reval.kernel.clj_eval$clj_eval/invoke",
                                :file "clj_eval.clj",
                                :line 59,
                                :class "reval.kernel.clj_eval$clj_eval",
                                :method "invoke"}
                               {:name "reval.document.notebook$eval_nb_segments$nb_eval_segment__26540/invoke",
                                :file "notebook.clj",
                                :line 96,
                                :class "reval.document.notebook$eval_nb_segments$nb_eval_segment__26540",
                                :method "invoke"}
                               {:name "clojure.core$map$fn__5884/invoke",
                                :file "core.clj",
                                :line 2757,
                                :class "clojure.core$map$fn__5884",
                                :method "invoke"}
                               {:name "clojure.lang.LazySeq/sval",
                                :file "LazySeq.java",
                                :line 42,
                                :class "clojure.lang.LazySeq",
                                :method "sval"}
                               {:name "clojure.lang.LazySeq/seq",
                                :file "LazySeq.java",
                                :line 51,
                                :class "clojure.lang.LazySeq",
                                :method "seq"}
                               {:name "clojure.lang.RT/seq",
                                :file "RT.java",
                                :line 535,
                                :class "clojure.lang.RT",
                                :method "seq"}
                               {:name "clojure.core$seq__5419/invokeStatic",
                                :file "core.clj",
                                :line 139,
                                :class "clojure.core$seq__5419",
                                :method "invokeStatic"}
                               {:name "clojure.core$map$fn__5884/invoke",
                                :file "core.clj",
                                :line 2750,
                                :class "clojure.core$map$fn__5884",
                                :method "invoke"}
                               {:name "clojure.lang.LazySeq/sval",
                                :file "LazySeq.java",
                                :line 42,
                                :class "clojure.lang.LazySeq",
                                :method "sval"}
                               {:name "clojure.lang.LazySeq/seq",
                                :file "LazySeq.java",
                                :line 51,
                                :class "clojure.lang.LazySeq",
                                :method "seq"}
                               {:name "clojure.lang.RT/seq",
                                :file "RT.java",
                                :line 535,
                                :class "clojure.lang.RT",
                                :method "seq"}
                               {:name "clojure.core$seq__5419/invokeStatic",
                                :file "core.clj",
                                :line 139,
                                :class "clojure.core$seq__5419",
                                :method "invokeStatic"}
                               {:name "clojure.core.protocols$seq_reduce/invokeStatic",
                                :file "protocols.clj",
                                :line 24,
                                :class "clojure.core.protocols$seq_reduce",
                                :method "invokeStatic"}
                               {:name "clojure.core.protocols$fn__8168/invokeStatic",
                                :file "protocols.clj",
                                :line 75,
                                :class "clojure.core.protocols$fn__8168",
                                :method "invokeStatic"}
                               {:name "clojure.core.protocols$fn__8168/invoke",
                                :file "protocols.clj",
                                :line 75,
                                :class "clojure.core.protocols$fn__8168",
                                :method "invoke"}
                               {:name "clojure.core.protocols$fn__8110$G__8105__8123/invoke",
                                :file "protocols.clj",
                                :line 13,
                                :class "clojure.core.protocols$fn__8110$G__8105__8123",
                                :method "invoke"}
                               {:name "clojure.core$reduce/invokeStatic",
                                :file "core.clj",
                                :line 6830,
                                :class "clojure.core$reduce",
                                :method "invokeStatic"}
                               {:name "clojure.core$into/invokeStatic",
                                :file "core.clj",
                                :line 6897,
                                :class "clojure.core$into",
                                :method "invokeStatic"}
                               {:name "clojure.core$into/invoke",
                                :file "core.clj",
                                :line 6889,
                                :class "clojure.core$into",
                                :method "invoke"}
                               {:name "reval.document.notebook$eval_notebook/invokeStatic",
                                :file "notebook.clj",
                                :line 111,
                                :class "reval.document.notebook$eval_notebook",
                                :method "invokeStatic"}
                               {:name "reval.document.notebook$eval_notebook/invoke",
                                :file "notebook.clj",
                                :line 101,
                                :class "reval.document.notebook$eval_notebook",
                                :method "invoke"}
                               {:name "reval.document.notebook$eval_notebook/invokeStatic",
                                :file "notebook.clj",
                                :line 103,
                                :class "reval.document.notebook$eval_notebook",
                                :method "invokeStatic"}
                               {:name "reval.document.notebook$eval_notebook/invoke",
                                :file "notebook.clj",
                                :line 101,
                                :class "reval.document.notebook$eval_notebook",
                                :method "invoke"}
                               {:name "reval.document.collection$eval_collection$fn__26581/invoke",
                                :file "collection.clj",
                                :line 55,
                                :class "reval.document.collection$eval_collection$fn__26581",
                                :method "invoke"}
                               {:name "clojure.core$map$fn__5884/invoke",
                                :file "core.clj",
                                :line 2757,
                                :class "clojure.core$map$fn__5884",
                                :method "invoke"}
                               {:name "clojure.lang.LazySeq/sval",
                                :file "LazySeq.java",
                                :line 42,
                                :class "clojure.lang.LazySeq",
                                :method "sval"}
                               {:name "clojure.lang.LazySeq/seq",
                                :file "LazySeq.java",
                                :line 51,
                                :class "clojure.lang.LazySeq",
                                :method "seq"}
                               {:name "clojure.lang.RT/seq",
                                :file "RT.java",
                                :line 535,
                                :class "clojure.lang.RT",
                                :method "seq"}
                               {:name "clojure.core$seq__5419/invokeStatic",
                                :file "core.clj",
                                :line 139,
                                :class "clojure.core$seq__5419",
                                :method "invokeStatic"}
                               {:name "clojure.core$dorun/invokeStatic",
                                :file "core.clj",
                                :line 3121,
                                :class "clojure.core$dorun",
                                :method "invokeStatic"}
                               {:name "clojure.core$doall/invokeStatic",
                                :file "core.clj",
                                :line 3136,
                                :class "clojure.core$doall",
                                :method "invokeStatic"}
                               {:name "clojure.core$doall/invoke",
                                :file "core.clj",
                                :line 3136,
                                :class "clojure.core$doall",
                                :method "invoke"}
                               {:name "reval.document.collection$eval_collection/invokeStatic",
                                :file "collection.clj",
                                :line 54,
                                :class "reval.document.collection$eval_collection",
                                :method "invokeStatic"}
                               {:name "reval.document.collection$eval_collection/invoke",
                                :file "collection.clj",
                                :line 53,
                                :class "reval.document.collection$eval_collection",
                                :method "invoke"}
                               {:name "clojure.core$map$fn__5884/invoke",
                                :file "core.clj",
                                :line 2759,
                                :class "clojure.core$map$fn__5884",
                                :method "invoke"}
                               {:name "clojure.lang.LazySeq/sval",
                                :file "LazySeq.java",
                                :line 42,
                                :class "clojure.lang.LazySeq",
                                :method "sval"}
                               {:name "clojure.lang.LazySeq/seq",
                                :file "LazySeq.java",
                                :line 51,
                                :class "clojure.lang.LazySeq",
                                :method "seq"}
                               {:name "clojure.lang.RT/seq",
                                :file "RT.java",
                                :line 535,
                                :class "clojure.lang.RT",
                                :method "seq"}
                               {:name "clojure.core$seq__5419/invokeStatic",
                                :file "core.clj",
                                :line 139,
                                :class "clojure.core$seq__5419",
                                :method "invokeStatic"}
                               {:name "clojure.core$dorun/invokeStatic",
                                :file "core.clj",
                                :line 3121,
                                :class "clojure.core$dorun",
                                :method "invokeStatic"}
                               {:name "clojure.core$doall/invokeStatic",
                                :file "core.clj",
                                :line 3136,
                                :class "clojure.core$doall",
                                :method "invokeStatic"}
                               {:name "clojure.core$doall/invoke",
                                :file "core.clj",
                                :line 3136,
                                :class "clojure.core$doall",
                                :method "invoke"}
                               {:name "reval.document.collection$eval_collections/invokeStatic",
                                :file "collection.clj",
                                :line 60,
                                :class "reval.document.collection$eval_collections",
                                :method "invokeStatic"}
                               {:name "reval.document.collection$eval_collections/invoke",
                                :file "collection.clj",
                                :line 57,
                                :class "reval.document.collection$eval_collections",
                                :method "invoke"}
                               {:name "reval.task$nbeval/invokeStatic",
                                :file "task.clj",
                                :line 30,
                                :class "reval.task$nbeval",
                                :method "invokeStatic"}
                               {:name "reval.task$nbeval/invoke",
                                :file "task.clj",
                                :line 18,
                                :class "reval.task$nbeval",
                                :method "invoke"}
                               {:name "reval.task$nbeval/invokeStatic",
                                :file "task.clj",
                                :line 28,
                                :class "reval.task$nbeval",
                                :method "invokeStatic"}
                               {:name "reval.task$nbeval/invoke",
                                :file "task.clj",
                                :line 18,
                                :class "reval.task$nbeval",
                                :method "invoke"}
                               {:name "clojure.lang.AFn/applyToHelper",
                                :file "AFn.java",
                                :line 154,
                                :class "clojure.lang.AFn",
                                :method "applyToHelper"}
                               {:name "clojure.lang.AFn/applyTo",
                                :file "AFn.java",
                                :line 144,
                                :class "clojure.lang.AFn",
                                :method "applyTo"}
                               {:name "clojure.lang.Var/applyTo",
                                :file "Var.java",
                                :line 705,
                                :class "clojure.lang.Var",
                                :method "applyTo"}
                               {:name "clojure.core$apply/invokeStatic",
                                :file "core.clj",
                                :line 667,
                                :class "clojure.core$apply",
                                :method "invokeStatic"}
                               {:name "clojure.core$apply/invoke",
                                :file "core.clj",
                                :line 662,
                                :class "clojure.core$apply",
                                :method "invoke"}
                               {:name "clojure.run.exec$exec/invokeStatic",
                                :file "exec.clj",
                                :line 48,
                                :class "clojure.run.exec$exec",
                                :method "invokeStatic"}
                               {:name "clojure.run.exec$exec/doInvoke",
                                :file "exec.clj",
                                :line 39,
                                :class "clojure.run.exec$exec",
                                :method "doInvoke"}
                               {:name "clojure.lang.RestFn/invoke",
                                :file "RestFn.java",
                                :line 423,
                                :class "clojure.lang.RestFn",
                                :method "invoke"}
                               {:name "clojure.run.exec$_main$fn__205/invoke",
                                :file "exec.clj",
                                :line 180,
                                :class "clojure.run.exec$_main$fn__205",
                                :method "invoke"}
                               {:name "clojure.run.exec$_main/invokeStatic",
                                :file "exec.clj",
                                :line 176,
                                :class "clojure.run.exec$_main",
                                :method "invokeStatic"}
                               {:name "clojure.run.exec$_main/doInvoke",
                                :file "exec.clj",
                                :line 139,
                                :class "clojure.run.exec$_main",
                                :method "doInvoke"}
                               {:name "clojure.lang.RestFn/invoke",
                                :file "RestFn.java",
                                :line 397,
                                :class "clojure.lang.RestFn",
                                :method "invoke"}
                               {:name "clojure.lang.AFn/applyToHelper",
                                :file "AFn.java",
                                :line 152,
                                :class "clojure.lang.AFn",
                                :method "applyToHelper"}
                               {:name "clojure.lang.RestFn/applyTo",
                                :file "RestFn.java",
                                :line 132,
                                :class "clojure.lang.RestFn",
                                :method "applyTo"}
                               {:name "clojure.lang.Var/applyTo",
                                :file "Var.java",
                                :line 705,
                                :class "clojure.lang.Var",
                                :method "applyTo"}
                               {:name "clojure.core$apply/invokeStatic",
                                :file "core.clj",
                                :line 667,
                                :class "clojure.core$apply",
                                :method "invokeStatic"}
                               {:name "clojure.main$main_opt/invokeStatic",
                                :file "main.clj",
                                :line 514,
                                :class "clojure.main$main_opt",
                                :method "invokeStatic"}
                               {:name "clojure.main$main_opt/invoke",
                                :file "main.clj",
                                :line 510,
                                :class "clojure.main$main_opt",
                                :method "invoke"}
                               {:name "clojure.main$main/invokeStatic",
                                :file "main.clj",
                                :line 664,
                                :class "clojure.main$main",
                                :method "invokeStatic"}
                               {:name "clojure.main$main/doInvoke",
                                :file "main.clj",
                                :line 616,
                                :class "clojure.main$main",
                                :method "doInvoke"}
                               {:name "clojure.lang.RestFn/applyTo",
                                :file "RestFn.java",
                                :line 137,
                                :class "clojure.lang.RestFn",
                                :method "applyTo"}
                               {:name "clojure.lang.Var/applyTo",
                                :file "Var.java",
                                :line 705,
                                :class "clojure.lang.Var",
                                :method "applyTo"}
                               {:name "clojure.main/main",
                                :file "main.java",
                                :line 40,
                                :class "clojure.main",
                                :method "main"}]},
            :id :06a8d4c7-dcfb-4ef4-9aef-984ca0c57a2b,
            :code "(let [k 2\n      data  [0 6 5 4 3]\n            ;[0 8 4 3 2]\n            ;[6 5 3 2 1] ]\n      result (kmeans data k)]\n    (info \"clusters: \" result)\n    result\n  )",
            :ns nil,
            :hiccup [:div.p-2.clj-nil [:p "nil"]]}],
 :meta {:id :1597a47c-a165-4367-b862-7b38eb729314,
        :eval-time "2022-06-01 01:43:47",
        :ns "studio.notebook.smile",
        :java "17.0.3",
        :clojure "1.10.3"}}
