{:paths ["src" "resources"]
 :deps
 {scicloj/scicloj.ml             {:mvn/version "0.2.0"}
  scicloj/scicloj.ml.smile {:mvn/version "7.0.600"}
  ;scicloj/scicloj.ml.smile       {:git/url "https://github.com/scicloj/scicloj.ml.smile"
  ;                              :git/sha "a8fb5015ffee38baec17a9d47440db5435c7307e"}
  org.scicloj/scicloj.ml.clj-djl {:mvn/version "0.1.11"}
  scicloj/scicloj.ml.xgboost     {:mvn/version "5.1.1"}
  scicloj/sklearn-clj            {:mvn/version "0.3.7"}
;  
  }}



