{:paths ["src" "resources"]
 :deps
 {clj-python/libpython-clj {:mvn/version "2.018"}
  net.mikera/core.matrix {:mvn/version "0.62.0"}
  ;panthera/panthera {:mvn/version "0.1-alpha.13"} ; panthera brings libpython.-clj
  
  }}